<!DOCTYPE html>
<html>
<style>
  body {background-color: forestgreen;}
  h1 {color: black;}
  td {color: white;}
</style>
<head>
<title>Spatify: Track Search</title>
</head>
<body>
<h1>Tracks By Your Artist</h1>
<ul>
    <table>
    {% for track in tracks %}
        <tr>
            <td class="c1">{{track}}</td>
        </tr>
    {% endfor %}
    </table>
</ul>
<script>
    var last = {{last_page}};
    if ({{page}} != last) {
        var str = http://0.0.0.0:5000/track_search_results/{{task_id}}/{{page+1}}
    }
    else {
        var str = http://0.0.0.0:5000/track_search_results/{{task_id}}/{{page}}
    }
</script>
<a href={{str}}> Next </a>
<br>
<script>
    if ({{page}} != 1) {
        var str = http://0.0.0.0:5000/track_search_results/{{task_id}}/{{page-1}}
    }
    else {
        var str = http://0.0.0.0:5000/track_search_results/{{task_id}}/{{page}}
    }
</script>
<a href={{str}}> Previous </a>
</body>
</html>